# NumPy

[Numpy Official Doc](https://numpy.org/doc/stable/user/index.html)

NumPy is the fundamental package for scientific computing in Python. It is a Python library that provides a multidimensional array object, various derived objects (such as masked arrays and matrices), and an assortment of routines for fast operations on arrays, including mathematical, logical, shape manipulation, sorting, selecting, I/O, discrete Fourier transforms, basic linear algebra, basic statistical operations, random simulation and much more.

and many populer libary or framework are made on NumPy. Eg: Pytorch, Pandas, TensorFlow etc.

![Untitled Diagram.jpg]()

# Instaling NumPy

In [1]:
!pip -q install numpy # -q or --quiet use to quiet the output

# Introduction to Numpy Array

NumPyâ€™s main object is the homogeneous multidimensional array. It is a table of elements (usually numbers), all of the same type, indexed by a tuple of non-negative integers. In NumPy dimensions are called axes.

For example, the array for the coordinates of a point in 3D space, `[1, 2, 1]`, has one axis. That axis has 3 elements in it, so we say it has a length of 3. In the example pictured below, the array has 2 axes. The first axis has a length of 2, the second axis has a length of 3.



```
[[1., 0., 0.],
 [0., 1., 2.]]
```

## Import NumPy

In [72]:
import numpy as np

print(np.__version__)

2.0.2

## Create an Array and Tensor

In [6]:
import numpy as np

**1D Array**

0-D arrays, or Scalars, are the elements in an array. Each value in an array is a 0-D array.

In [25]:
arr_1d = np.array([6, 7, 8, 9])

print("1D Array:\n", arr_1d)
print(f"Shape: {arr_1d.shape}")
print(f"Dimensions (ndim): {arr_1d.ndim}")

1D Array:
 [6 7 8 9]
Shape: (4,)
Dimensions (ndim): 1

**2D Array**

An array that has 0-D arrays as its elements is called uni-dimensional or 1-D array.

In [27]:
arr_2d = np.array([[1, 2, 3], [4, 5, 6]])

print("2D Array:\n", arr_2d)
print(f"Shape: {arr_2d.shape}")
print(f"Dimensions (ndim): {arr_2d.ndim}")

2D Array:
 [[1 2 3]
 [4 5 6]]
Shape: (2, 3)
Dimensions (ndim): 2

**3D Array**

An array that has 2-D arrays (matrices) as its elements is called 3-D array.

In [28]:
arr_3d = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
])

print("3D Array:\n", arr_3d)
print(f"Shape: {arr_3d.shape}")
print(f"Dimensions (ndim): {arr_3d.ndim}")

3D Array:
 [[1 2 3]
 [4 5 6]
 [7 8 9]]
Shape: (3, 3)
Dimensions (ndim): 2

**0D Tensor (Scalar)**

A 0D tensor is a single number.

In [16]:
scalar = np.array(42)

print(f"Scalar: {scalar}")
print(f"Shape: {scalar.shape}")
print(f"Dimensions (ndim): {scalar.ndim}")

Scalar: 42
Shape: ()
Dimensions (ndim): 0

**1D Tensor (Vector)**

A 1D tensor is an array of numbers, or a vector.

In [17]:
vector = np.array([1, 2, 3, 4, 5])

print(f"Vector: {vector}")
print(f"Shape: {vector.shape}")
print(f"Dimensions (ndim): {vector.ndim}")

Vector: [1 2 3 4 5]
Shape: (5,)
Dimensions (ndim): 1

**2D Tensor (Matrix)**

A 2D tensor is an array of arrays, or a matrix. This is useful for representing vector data where each row might be a sample and each column a feature.

In [18]:
matrix = np.array([
    [10, 20, 30],
    [40, 50, 60],
    [70, 80, 90]
])

print(f"Matrix:\n{matrix}")
print(f"Shape: {matrix.shape}")
print(f"Dimensions (ndim): {matrix.ndim}")

Matrix:
[[10 20 30]
 [40 50 60]
 [70 80 90]]
Shape: (3, 3)
Dimensions (ndim): 2

**3D Tensor**

A 3D tensor can be thought of as a collection of matrices or an array with three axes. This is commonly used for time-series data or grayscale images.

In [20]:
tensor_3d = np.array([
    [[1, 2], [3, 4]],
    [[5, 6], [7, 8]],
    [[9, 10], [11, 12]]
])

print(f"3D Tensor:\n{tensor_3d}")
print(f"Shape: {tensor_3d.shape}")
print(f"Dimensions (ndim): {tensor_3d.ndim}")

3D Tensor:
[[[ 1  2]
  [ 3  4]]

 [[ 5  6]
  [ 7  8]]

 [[ 9 10]
  [11 12]]]
Shape: (3, 2, 2)
Dimensions (ndim): 3

**4D Tensor**

A 4D tensor is often used for image data in deep learning, with dimensions typically representing (samples, height, width, channels).

In [23]:
# Example: 2 samples, 3x3 height/width, 1 channel (grayscale)
tensor_4d = np.array([
    [[[1], [2], [3]], [[4], [5], [6]], [[7], [8], [9]]],
    [[[10], [11], [12]], [[13], [14], [15]], [[16], [17], [18]]]
])

# print(f"4D Tensor:\n{tensor_4d}")
print(f"4D Tensor Shape: {tensor_4d.shape}")
print(f"Dimensions (ndim): {tensor_4d.ndim}")

4D Tensor Shape: (2, 3, 3, 1)
Dimensions (ndim): 4

## Python List vs NumPy Array

In [30]:
py_list = [1, 2, 3]
print("Python list multiplication: \n", py_list * 2)


np_array = np.array([1, 2, 3]) #element wise multiplication
print("Python array multiplication: \n", np_array * 2)

Python list multiplication:
 [1, 2, 3, 1, 2, 3]
Python array multiplication:
 [2 4 6]

In [36]:
import time

tick = time.time()
py_list = [i*2 for i in range(6000000)]
tock = time.time()
py_list_time = tock - tick
print("\nList operation time: ", py_list_time)

tick = time.time()
np_array = np.arange(6000000) * 2
tock = time.time()
np_array_time = tock - tick
print("\nNumpy operation time: ", np_array_time)

if py_list_time > np_array_time:
  print(f"\nNumpy is {py_list_time/np_array_time} times faster than Python")
else:
  print(f"\nPython is {np_array_time/py_list_time} times then Numpy")

List operation time:  0.46894192695617676

Numpy operation time:  0.019382476806640625

Numpy is 24.194117791773273 times faster than Python

# Array attributes

## shape

In [ ]:
arr = np.array([1, 2, 3, 4, 5])

print(arr.shape)

(5,)

In [ ]:
arr = np.array([[1, 2, 3], [4, 5, 6]])

print(arr.shape)

(2, 3)

In [ ]:
arr = np.array([
    [
        [1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]
    ],
    [
        [10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]
    ]
])

print(arr.shape)

(2, 3, 3)

## ndim

In [ ]:
arr = np.array([1, 2, 3, 4, 5])

print(arr.ndim)

1

In [ ]:
arr = np.array([[1, 2, 3], [4, 5, 6]])

print(arr.ndim)

2

In [ ]:
arr = np.array([
    [
        [1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]
    ],
    [
        [10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]
    ]
])

print(arr.ndim)

3

## size

In [ ]:
arr = np.array([1, 2, 3, 4, 5])

print(arr.size)

5

In [ ]:
arr = np.array([[1, 2, 3], [4, 5, 6]])

print(arr.size)

6

In [ ]:
arr = np.array([
    [
        [1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]
    ],
    [
        [10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]
    ]
])

print(arr.size)

18

## dtype

In [ ]:
arr = np.array([1, 2, 3, 4, 5])
print("Int dtype: ", arr.dtype)

arr = np.array([1.0, 2.0, 3.0, 4.0, 5.0])
print("Float dtype: ", arr.dtype)

arr = np.array(['a', 'b', 'c', 'd', 'e'])
print("String dtype: ", arr.dtype)

arr = np.array([True, False, True, False, True])
print("Boolean dtype: ", arr.dtype)

arr = np.array([1+2j, 3+4j, 5+6j])
print("Complex dtype: ", arr.dtype)

arr = np.array(['apple', 'banana', 'cherry'])
print("String dtype: ", arr.dtype)

Int dtype:  int64
Float dtype:  float64
String dtype:  <U1
Boolean dtype:  bool
Complex dtype:  complex128
String dtype:  <U6

# How to create a basic array

In [37]:
zeros = np.zeros((3, 4))

print("zeros array: \n", zeros)
print(f"Shape: {zeros.shape}")
print(f"Dimensions (ndim): {zeros.ndim}")

zeros array:
 [[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]
Shape: (3, 4)
Dimensions (ndim): 2

In [38]:
ones = np.ones((2, 3))

print("one array: \n", ones)
print(f"Shape: {ones.shape}")
print(f"Dimensions (ndim): {ones.ndim}")

one array:
 [[1. 1. 1.]
 [1. 1. 1.]]
Shape: (2, 3)
Dimensions (ndim): 2

The function `empty` creates an array whose initial content is random and depends on the state of the memory. The reason to use `empty` over `zeros` (or something similar) is speed - just make sure to fill every element afterwards!

In [93]:
# Create an empty array with 2 elements
empty = np.empty(10)

print("Empty array: \n", empty)
print(f"Shape: {empty.shape}")
print(f"Dimensions (ndim): {empty.ndim}")

Empty array:
 [4.73825210e-315 0.00000000e+000 0.00000000e+000 0.00000000e+000
 6.79038653e-313 1.40909906e-075 9.04783375e-043 7.72825097e-091
 1.48582160e-076 2.25563617e-153]
Shape: (10,)
Dimensions (ndim): 1

In [94]:
# np.arange(first number, last number, step size)
sequence = np.arange(0, 11, 2)

print("sequnce array: \n", sequence)
print(f"Shape: {sequence.shape}")
print(f"Dimensions (ndim): {sequence.ndim}")

sequnce array:
 [ 0  2  4  6  8 10]
Shape: (6,)
Dimensions (ndim): 1

In [96]:
# create an array with values that are spaced linearly in a specified interval
line_space = np.linspace(0, 10, num=5)

print("line_space array: \n", line_space)
print(f"Shape: {line_space.shape}")
print(f"Dimensions (ndim): {line_space.ndim}")

line_space array:
 [ 0.   2.5  5.   7.5 10. ]
Shape: (5,)
Dimensions (ndim): 1

In [39]:
full = np.full((2, 2), 7)

print("full array: \n", full)
print(f"Shape: {full.shape}")
print(f"Dimensions (ndim): {full.ndim}")

full array:
 [[7 7]
 [7 7]]
Shape: (2, 2)
Dimensions (ndim): 2

In [44]:
random = np.random.random((2, 3))

print("random array: \n", random)
print(f"Shape: {random.shape}")
print(f"Dimensions (ndim): {random.ndim}")

random array:
 [[0.22184135 0.36193229 0.1434574 ]
 [0.66653464 0.62254351 0.75753819]]
Shape: (2, 3)
Dimensions (ndim): 2

**Specifying your data type**

In [99]:
x = np.ones(2, dtype=np.int64)
print("Data type: ", x.dtype)

y = np.ones(2, dtype=np.float64)
print("Data type: ", y.dtype)

Data type:  int64
Data type:  float64

# NumPy Array fundamentals

In [46]:
# Initialize an array is using a Python sequence, such as a list.
arr = np.array([1, 2, 3, 4])

print(arr)

[1 2 3 4]

In [49]:
# Accesing array
print(arr[0])

print(arr[-1])

10
4

In [48]:
# Modefy array element by idx

print(arr)
arr[0] = 10
print(arr)

[1 2 3 4]
[10  2  3  4]

## NumPy array slicing

**Syntax and Parameters**

The general syntax for slicing is sequence`[start:stop:step]`, all of which are optional:

**start:** The index where the slice begins (inclusive). If omitted, it defaults to the beginning of the sequence (index 0).

**stop:** The index where the slice ends (exclusive, the element at this index is not included). If omitted, it defaults to the end of the sequence.

**step:** The interval between indices (the increment). If omitted, it defaults to 1 (no skipping of elements).

In [50]:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [55]:
# Extract a range
# Elements from index 1 (inclusive) up to index 5 (exclusive).

print(arr[1:5])

[2 3 4 5]

In [57]:
# From beginning to index
# Elements from the start up to index 4 (exclusive).

print(arr[:4])

[1 2 3 4]

In [59]:
# From index to end
# Elements from index 6 (inclusive) to the end of the list.

print(arr[6:])

[ 7  8  9 10]

In [60]:
# Every other element
# Every second element from the entire list.

print(arr[::2])

[1 3 5 7 9]

In [61]:
# Reverse the sequence
# Uses a step of -1 to go from the end to the beginning.

print(arr[::-1])

[10  9  8  7  6  5  4  3  2  1]

In [71]:
# arr_3d = np.array([
#     [1, 2, 3],
#     [4, 5, 6],
#     [7, 8, 9]
# ])

# print(arr_3d)
# print()
# print(arr_3d[::-1])

In [62]:
# Using negative indices
# Elements from the third-last (inclusive) to the second-last (exclusive).

print(arr[-3:-1])

[8 9]

In [63]:
# Shallow copy
# Creates a shallow copy of the entire list.

print(arr[:])

[ 1  2  3  4  5  6  7  8  9 10]

# Array attributes

## shape

In [80]:
arr = np.array([1, 2, 3, 4, 5])

print(arr.shape)

(5,)

In [74]:
arr = np.array([[1, 2, 3], [4, 5, 6]])

print(arr.shape)

(2, 3)

In [76]:
arr = np.array([
    [
        [1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]
    ],
    [
        [10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]
    ]
])

print(arr.shape)

(2, 3, 3)

## ndim

In [77]:
arr = np.array([1, 2, 3, 4, 5])

print(arr.ndim)

1

In [78]:
arr = np.array([[1, 2, 3], [4, 5, 6]])

print(arr.ndim)

2

In [79]:
arr = np.array([
    [
        [1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]
    ],
    [
        [10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]
    ]
])

print(arr.ndim)

3

## size

In [81]:
arr = np.array([1, 2, 3, 4, 5])

print(arr.size)

5

In [82]:
arr = np.array([[1, 2, 3], [4, 5, 6]])

print(arr.size)

6

In [83]:
arr = np.array([
    [
        [1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]
    ],
    [
        [10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]
    ]
])

print(arr.size)

18

## dtype

In [91]:
arr = np.array([1, 2, 3, 4, 5])
print("Int dtype: ", arr.dtype)

arr = np.array([1.0, 2.0, 3.0, 4.0, 5.0])
print("Float dtype: ", arr.dtype)

arr = np.array(['a', 'b', 'c', 'd', 'e'])
print("String dtype: ", arr.dtype)

arr = np.array([True, False, True, False, True])
print("Boolean dtype: ", arr.dtype)

arr = np.array([1+2j, 3+4j, 5+6j])
print("Complex dtype: ", arr.dtype)

arr = np.array(['apple', 'banana', 'cherry'])
print("String dtype: ", arr.dtype)

Int dtype:  int64
Float dtype:  float64
String dtype:  <U1
Boolean dtype:  bool
Complex dtype:  complex128
String dtype:  <U6

# Inserting, removing, adding and sorting elements

In [110]:
arr = np.array([1, 2, 3])
print(arr)
print()

arr = np.append(arr, 4)
print(arr)
print()

arr = np.append(arr, 5)
print(arr)

[1 2 3]

[1 2 3 4]

[1 2 3 4 5]

In [118]:
arr = np.array([1, 2, 3])
print(arr)
print()

arr = np.delete(arr, -1) # Remove the last element
print(arr)
print()

arr = np.delete(arr, 0) # Remove the new frist element
print(arr)

[1 2 3]

[1 2]

[2]

In [111]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])

c = np.append(a, b)
print(c)
print()

c = np.concatenate((a, b))
print(c)

[1 2 3 4 5 6]

[1 2 3 4 5 6]

In [115]:
x = np.array([[1, 2], [3, 4]])
y = np.array([[5, 6]])

z = np.concatenate((x, y), axis=0)
print(z)
print()

z = np.concatenate((x, y), axis=None)
print(z)
print()

z = np.concatenate((x, y))
print(z)
print()

z = np.concatenate((x, y.T), axis=1)
print(z)

[[1 2]
 [3 4]
 [5 6]]

[1 2 3 4 5 6]

[[1 2]
 [3 4]
 [5 6]]

[[1 2 5]
 [3 4 6]]

In [119]:
arr = np.array([3, 1, 2])
print(arr)
print()

arr = np.sort(arr)
print(arr)

[3 1 2]

[1 2 3]

# Reshape an array

In [124]:
x = np.arange(12)

print("Original array: \n", x)
print(f"Shape: {x.shape}")

Original array:
 [ 0  1  2  3  4  5  6  7  8  9 10 11]
Shape: (12,)

In [125]:
y = x.reshape(3, 4)

print("Reshaped array: \n", y)
print(f"Shape: {y.shape}")

Reshaped array:
 [[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
Shape: (3, 4)

In [126]:
flatten = y.flatten()

print("Flatten array: \n", flatten)
print(f"Shape: {flatten.shape}")

Flatten array:
 [ 0  1  2  3  4  5  6  7  8  9 10 11]
Shape: (12,)

In [128]:
# ravel(returns view, instead of copy)
raveled = y.ravel()
print("Ravel array: \n", raveled)
print(f"Shape: {raveled.shape}")

Ravel array:
 [ 0  1  2  3  4  5  6  7  8  9 10 11]
Shape: (12,)

In [129]:
# Transpose
yT = y.T

print("Transpose array: \n", yT)
print(f"Shape: {yT.shape}")

Transpose array:
 [[ 0  4  8]
 [ 1  5  9]
 [ 2  6 10]
 [ 3  7 11]]
Shape: (4, 3)

#